* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 楷体;
    color: #fff;
}
li {
    list-style: none;
}
.tab {
    width: 1000px;
    margin: 0 auto;
}
.title {
    width: 600px;
    height: 60px;
    line-height: 60px;
    transform: skewX(36deg);
    background-color: rgb(14, 34, 59);
    margin-left: -26px;
}
.title h1 {
    float: left;
    transform: skewX(-36deg);
    text-indent: 4em;
    font-size: 24px;
    color: rgb(236, 229, 198);
}
.title sub {
    float: left;
    font-size: 16px;
    transform: skewX(-36deg);
    margin: 6px 0 0 2px;
    color: rgb(218, 218, 218);
}
.line {
    width: 60%;
    height: 2px;
    margin: 6px 0;
    background-color: rgb(222, 133, 85);
}

.one {
    width: 1000px;
    border-collapse: collapse;
    border: 1px solid  rgb(222, 133, 85);
    background-color: rgb(14, 34, 59);
}

th ,td{
    border: 1px solid  rgb(222, 133, 85);
}
td {
    text-align: center;
}
.first > th {
    width: 100px;
    height: 60px;
}
.first > td:nth-child(2) {
    width: 260px;
    text-align: left;
    text-indent: 2em;
}
.first > td:nth-child(3){
    position: relative;
}
.info {
    position: absolute;
    left: -60px;
    top: 0;
    width: 120px;
    height: 120px;
    border-radius:100%;
    border-left: 3px solid rgb(222, 133, 85);
    background-color: rgb(14, 34, 59);
}
.info .img {
    float: left;
    width: 156px;
    height: 120px;
    border-radius: 100% 0 0 100%;
    background-image: url("1.png");
    background-position: -50px 0 ;
    background-size: cover;

}
 ul {
    float: right;
   width: 540px;
    height: 120px;
}
ul li {
    float: left;
    width: 270px;
    height: 60px;
}
ul li h3,
ul li p {
    width: 133px;
    height: 60px;
    line-height: 60px;
    border: 1px solid rgb(222, 133, 85);
    border-top: none;
    float: left;
}
ul li p {
    border-right: none;
}

.info-one th {
    height: 40px;
}

.info-w th {
    width: 100px;
    height: 120px;
}
.info-w td {
    text-align: left;
    vertical-align: top;
    padding: 10px;
    font-size: 14px;
    font-family: 宋体;
}